.weather{
    /* background-color: green; */
    background-image: url(https://wallpaperaccess.com/full/5202324.jpg);
    width: 400px;
    height: 680px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 12px;
    justify-content: center;
  }
  /* .text-secondary{
    width: 50px;
  } */
  .search{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .searchicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    background-color: white;
    border-radius: 40px;
  }
  .img{
    width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 140px;
  }
  .weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-size: 30px ;
  }
  .weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .data-container{
    margin-top: 40px;
    display: flex;
    color: white;
    justify-content: center;
  }
  .element{
    margin: auto;
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  .data{
    font-size: 25px;
    font-weight: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  .icon{
  margin-top: 30px;
  margin-left: 45px;

  }